fdb.cluster
.vagrant
*.log
.*
*.pub 
private_key
private_key.pem
*.tfstate
*.tfstate.backup

benchmark/deploy/*.tfstate
benchmark/deploy/*.tfstate.backup
benchmark/deploy/terraform*.zip

vendor
bin
_*

!*/.dockerignore
