fdb.cluster
.vagrant
*.log
.*
id_rsa.* 
id_rsa
picodata.pem
*.tfstate
*.tfstate.backup

benchmark/deploy/*.tfstate
benchmark/deploy/*.tfstate.backup
benchmark/deploy/terraform*.zip

vendor
bin
_*

!*/.dockerignore
